*
    font-family: 'Roboto'

h1
    font-size: 500%
h2
    text-align: center
    margin-top: 50px
a
    text-decoration: none
    color: #000000
body
    background: linear-gradient(165.78deg, #EEF0F5 4.98%, #E6E9EF 94.88%)

