.asset-details-content
    margin: 0 70px
    h1
        margin-bottom: 50px
    .img-details
        font-size: 120%
        display: flex
        .details
            margin-left: 50px
            div
                margin-bottom: 10px
            .overview
                text-align: justify
        

    
.Modal
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #000
    color: #fff

.Overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
button
    margin: 25px 0
    display: inline-block
    font-family: arial,sans-serif
    font-size: 16px
    font-weight: bold
    color: rgb(68,68,68)
    text-decoration: none
    user-select: none
    padding: .2em 1.2em
    outline: none
    border: 1px solid rgba(0,0,0,.1)
    border-radius: 2px
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1)
    transition: all .218s ease 0s
button:hover
    color: rgb(24,24,24)
    border: 1px solid rgb(198,198,198)
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1)
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
button:active
    color: rgb(51,51,51)
    border: 1px solid rgb(204,204,204)
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224))
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset
.close-button
    text-align: center
.player-wrapper
    margin: 0 10px


@media screen and (max-width: 700px)
    .Modal
        left: 0
        transform: translate(0, -50%)
    .player-wrapper
        width: 100vw
        .youtube
            width: 100%!important
    .asset-details-content
        margin: 0 20px
        h1
            margin-bottom: 20px
        .img-details
            .image
                text-align: center
            font-size: 100%
            display: block
            .details
                margin-top: 30px
                margin-left: 10px
                .watch-trailer
                    text-align: center
                    margin-bottom: 20px